/* Rotating Animation */
@-webkit-keyframes rotating{from{-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}to{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotating{from{-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0)}to{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}}.rotating{-webkit-animation:rotating 2s linear infinite;-moz-animation:rotating 2s linear infinite;-ms-animation:rotating 2s linear infinite;-o-animation:rotating 2s linear infinite;animation:rotating 2s linear infinite}

.portal-layout {
    width: 100%;
    height: 100%;
    background-color: #F3F3F4;
}
.toast-top-center {
    margin-top: 15px;
}
.form-custom .fa-spinner.rotating {
    display: none;
}
.form-custom button.submit:disabled span.fa-spinner.rotating {
    display: inline-block;
}

#forgot:target ~ .forgot-box {
    display: block !important;
}
#forgot:target ~ .signin-box {
    display: none;
}

/* Form Box */
.center-box {
    max-width: 500px;
    margin: 50px auto;
    padding: 0 15px;
}
.center-box button:disabled {
    opacity: 1 !important;
}
.center-box .ibox {
    border: 1px solid #E6E9ED;
}

/* Table */
.table-custom-static .btn {
    margin-bottom: 0;
}
.table-custom-static td {
    vertical-align: middle !important;
}

/* Screen Ovelay */
.screen-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.2);
    z-index: 99999;
}

/* Loaders */
#full_loader {
    display: none;
}
#full_loader .cell-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#full_loader .center-box {
    display: inline-block;
    padding: 2px 5px;
    background-color: #fff;
    border: 1px solid #ddd;
}