<div class="admin">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="home-navigation">
      <a href="#" class="btn btn-primary admin-btn" ui-sref="auth">
        <span class="glyphicon glyphicon-home"></span> {{ 'COMMON.TO-MAIN-PAGE' | translate }}
      </a>
    </div>
    <div class="location">
      <div class="location-language">
        <a ng-click="root.changeLang('ru')">
          <i class="fa fa-globe fa-fw"></i> Русский
        </a>
        /
        <a ng-click="root.changeLang('en')">
          <i class="fa fa-globe fa-fw"></i> English
        </a>
      </div>
      <!--<input type="button" class="btn btn-danger admin-btn" ng-click="root.logout()" value="{{ 'COMMON.LOGOUT' | translate }}">-->
      <!--<input type="button" class="btn btn-primary admin-btn" ng-click="admin.goToMainPage()" value="{{ 'COMMON.TO-MAIN-PAGE' | translate }}">-->
      <a class="btn btn-danger admin-btn "  ng-click="root.logout()" >
        <span class="glyphicon glyphicon-log-out"></span> {{ 'COMMON.LOGOUT' | translate }}
      </a>
    </div>
  </div>
  <div class="row content-admin">
    <div class="col-lg-3 col-md-3 col-sm-12 form-add-user">
      <h3>{{ 'ADMIN.ANU.ADD-NEW-USER' | translate }}</h3>
      <form name="admin.userForm" ng-submit="admin.submitForm(admin.user)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : admin.userForm.email.$invalid && !admin.userForm.email.$pristine }">
          <input type="email" name= "email" class="form-control input-item-login"  placeholder="{{ 'ADMIN.ANU.EMAIL' | translate }}" ng-model="admin.user.email" required>
          <p ng-show="admin.userForm.email.$invalid && !admin.userForm.email.$pristine && admin.userForm.email.$error.required" class="help-block">{{ 'ADMIN.ANU.MAIL-REQUIRED' | translate }}</p>
          <p ng-show="!admin.userForm.email.$error.required && admin.userForm.email.$invalid && !admin.userForm.email.$pristine" class="help-block">{{ 'ADMIN.ANU.MAIL-VALID' | translate }}</p>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : admin.userForm.password.$invalid && !admin.userForm.password.$pristine }">
          <input type="password" class="form-control" name="password" ng-model="admin.user.password" placeholder="{{ 'ADMIN.ANU.PASSWORD' | translate }}"  required>
          <p ng-show="admin.userForm.password.$invalid && !admin.userForm.password.$pristine && admin.userForm.password.$error.required" class="help-block">{{ 'ADMIN.ANU.PASSWORD-REQUIRED' | translate }}</p>
        </div>
        <div class="form-group"  ng-class="{ 'has-error' : (admin.userForm.passwordconfirm.$invalid && !admin.userForm.passwordconfirm.$pristine) || ((admin.user.passwordconfirm !== admin.user.password) && !auth.userForm.password.$pristine)}">
          <input type="password" class="form-control" name="passwordconfirm" ng-model="admin.user.passwordconfirm"  required placeholder="{{ 'ADMIN.ANU.CONFIRM-PASSWORD' | translate }}">
          <p ng-show="!admin.userForm.passwordconfirm.$error.required && (admin.user.passwordconfirm !== admin.user.password) && !admin.userForm.passwordconfirm.$pristine" class="help-block">{{ 'ADMIN.ANU.CONFIRM-PASSWORD-INCORRECT' | translate }}</p>
          <p ng-show="admin.userForm.passwordconfirm.$invalid && !admin.userForm.passwordconfirm.$pristine && admin.userForm.passwordconfirm.$error.required" class="help-block">{{ 'ADMIN.ANU.CONFIRM-PASSWORD-REQUIRED' | translate }}</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : admin.userForm.first_name.$invalid && !admin.userForm.first_name.$pristine }">
          <input type="text" name= "first_name" class="form-control input-item-login"  placeholder="{{ 'ADMIN.ANU.FIRST-NAME' | translate }}" ng-model="admin.user.first_name" required>
          <p ng-show="admin.userForm.first_name.$invalid && !admin.userForm.first_name.$pristine && admin.userForm.first_name.$error.required" class="help-block">{{ 'ADMIN.ANU.FIRST-NAME-REQUIRED' | translate }}</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : admin.userForm.last_name.$invalid && !admin.userForm.last_name.$pristine }">
          <input type="text" name= "last_name" class="form-control input-item-login"  placeholder="{{ 'ADMIN.ANU.LAST-NAME' | translate }}" ng-model="admin.user.last_name" required>
          <p ng-show="admin.userForm.last_name.$invalid && !admin.userForm.last_name.$pristine && admin.userForm.last_name.$error.required" class="help-block">{{ 'ADMIN.ANU.LAST-NAME-REQUIRED' | translate }}</p>
        </div>

        <div class="form-group">
          <select ng-model="admin.user.permission" name="permission" class="select-user-type form-control" title="user">
            <option value="" disabled selected>{{ 'ADMIN.ANU.SELECT-PERMISSION' | translate }}</option>
            <option value="adminfull">admin full</option>
            <option value="adminread">admin read-only</option>
            <option value="userfull">user full</option>
            <option value="userread">user read-only</option>
          </select>
        </div>
        <div ng-show="admin.user.permission=='userfull' || admin.user.permission=='userread'" class="form-group">
          <div dx-select-box="admin.UI.selectAppNexusUser"></div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="admin.userForm.$invalid">{{ 'ADMIN.ANU.SUBMIT' | translate }}</button>
      </form>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <h3>{{ 'ADMIN.LIST-USER.TITLE' | translate }}</h3>
      <div dx-data-grid="admin.UI.listOfUsers" id="usersList"></div>
    </div>
  </div>
</div>
