pytz
Django==1.10
psycopg2
data-importer
untangle
xmltodict
djangorestframework
markdown
django-filter
pygments
django-cors-headers
django-contrib-postgres
django-crontab
uwsgi
drfdocs
pympler
requests
NumPy
SciPy
scikit-learn