<div class="logic-rule" ng-if="rulesC.typeOfLogic(rule)" >
  <button class=" btn-danger removeF" ng-click="rulesC.deleteFilds($parent,IndexF)" data-title="Delete">X</button>

  <div class="RadioRule">
    <div class="ORback">
      <input class="RadioRuleOr" id="orlogic" type="radio" data-ng-model="rule.logicOrAnd" value="or"
             ng-checked="rule.logicOrAnd == 'or'">
      <label class="OrLogic" for="orlogic">
        <div calss="verticalOr">OR</div>
      </label>
    </div>

    <div class="ANDback">
      <input class="RadioRuleAnd" id="andlogic" type="radio" data-ng-model="rule.logicOrAnd" value="and"
             ng-checked="rule.logicOrAnd == 'and'">
      <label class="AndLogic" for="andlogic">
        <div calss="verticalAnd">AND</div>
      </label>
    </div>


  </div>
</div>
<div class="object-rule" ng-if="rulesC.typeOfObject(rule)">
  <div ng-if="$index == 0">
    <button class="btn green addfields" ng-click="rulesC.addField($parent)" data-title="Add Field" >F+</button>
    <button class="btn green addgroup" ng-click="rulesC.addGroup($parent, IndexF)" data-title="Add Group">G+</button>
  </div>
  <div class="RuleShow">

    <div class="dropdown">
             <span>
                <select class="select3" data-ng-model="rule.target">
                  <option ng-selected="rule.target == 'Placement/App'">Placement/App</option>
                  <!--<option ng-selected="rule.target == 'Carrier'">Carrier</option>-->
                  <!--<option ng-selected="rule.target == 'Device'">Device</option>-->
                  <!--<option ng-selected="rule.target == 'OS'">OS</option>-->
                  <!--<option ng-selected="rule.target == 'Ad exchange'">Ad exchange</option>-->
                </select>
              </span>
    </div>
    <div class="dropdown1">

      if
      <span>
      <select class="select1" data-ng-model="rule.payment">
        <option ng-selected="rule.payment == 'cpa'">cpa</option>
        <option ng-selected="rule.payment == 'spent'">spent</option>
        <option ng-selected="rule.payment == 'prediction1'">prediction1</option>
        <option ng-selected="rule.payment == 'prediction2'">prediction2</option>
        <option ng-selected="rule.payment == 'impressions'">impressions</option>
        <option ng-selected="rule.payment == 'clicks'">clicks</option>
        <option ng-selected="rule.payment == 'ctr'">ctr</option>
        <option ng-selected="rule.payment == 'cpc'">cpc</option>
        <option ng-selected="rule.payment == 'cvr'">cvr</option>
      </select>
      </span>
    </div>
        <!-- START OTHER-->
    <div ng-if="rule.payment != 'prediction1'  || rule.payment != 'prediction2'" class="dropdown2">
      compare
      <span>
        <select class="select2" data-ng-model="rule.compare">
          <option ng-selected="rule.compare == '>'">&#x3e;</option>
          <option ng-selected="rule.compare == '<'">&#x3c;</option>
          <option ng-selected="rule.compare == '='">=</option>
          <option ng-selected="rule.compare == '>='">&#x3e;=</option>
          <option ng-selected="rule.compare == '<='">&#x3c;=</option>
        </select>
      </span>
    </div>
    <div ng-if="rule.payment != 'prediction1'  || rule.payment != 'prediction2'" class="inputm">
      <label>
        Value
        <input class="money" type="number" ng-model="rule.value">
      </label>
    </div>
    <!-- END OTHER-->

    <!-- START PREDICTION-->
    <div ng-if="rule.payment == 'prediction1'  || rule.payment == 'prediction2'" class="dropdown2">
      {{rule.compare='='}}
    </div>
    <div ng-if="rule.payment == 'prediction1'  || rule.payment == 'prediction2'" class="inputm">
      <label>
        Value
        <select class="money" data-ng-model="rule.value">
          <option ng-selected="rule.value == 'good' || !rule.value?rule.value='good':rule.value">good</option>
          <option ng-selected="rule.value == 'bad'">bad</option>
        </select>
      </label>
    </div>
    <!-- END PREDICTION-->


  </div>

</div>

<div class="GroupShow">
  <!---->
  <!--  -->
  <div class="object-group" ng-if="rulesC.typeOfArray(rule) ">
    <div class="bracet-begin"></div>
    <div class="GroupRepeat" ng-repeat="(IndexF,rule) in rule" ng-include="'app/usual/rules/rule.html'">
    </div>
    <div class="bracet-end"></div>
  </div>

</div>





