<div class="content">
    <div class="page-header">
        <h1>Cockpit2</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="list-group ">
                <label class="list-group-item active">
                    Trucks
                </label>
                <a ui-sref="resource.list(truckOptions)" class="list-group-item">Manage Trucks
                    <span><i class="glyphicon glyphicon-chevron-right"></i></span>
                </a>
                <a ui-sref="resource.create(truckOptions)" class="list-group-item">New Truck
                    <span><i class="glyphicon glyphicon-chevron-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
