<div id="wrapper">
  <div class="row">
    <div class="left-nav col-lg-1 col-md-2 col-sm-2 col-xs-2">
      <ul class="nav nav-list" ng-if="home.usual">
        <li class="nav-header"><a ui-sref="home.campaign ({id: $root.id}) " translate="INDEX.LEFT_NAV.CAMPAIGN"></a></li>
        <li class="active"><a ui-sref="home.cpa ({id: $root.id}) " translate="INDEX.LEFT_NAV.CPA"></a></li>
        <li><a ui-sref="home.optimiser ({id: $root.id})"  translate="INDEX.LEFT_NAV.OPTIMIZER"></a></li>
        <!-- <li><a href="#/" translate="INDEX.LEFT_NAV.BILLING">Billing</a></li>-->
        <li class="active"><a ui-sref="home.rules ({id: $root.id})" translate="INDEX.LEFT_NAV.Rules"></a></li>
        <li><a ui-sref="home.bcc ({id: $root.id})" translate="INDEX.LEFT_NAV.BCC"></a></li>
        <li ng-if="home.isEven == true"><a  ui-sref="home.valuationByExpert" translate="INDEX.LEFT_NAV.EXPERT" ></a></li>
      </ul>
      <ul class="nav nav-list" ng-if="home.video">
        <li><a ui-sref="home.videocampaign ({id: $root.id}) " translate="INDEX.LEFT_NAV.CAMPAIGN"></a></li>
        <!--<li><a ui-sref="home.videooptimiser ({id: $root.id})"  translate="INDEX.LEFT_NAV.OPTIMIZER"></a></li>-->
        <!--<li><a ui-sref="home.videorules ({id: $root.id})" translate="INDEX.LEFT_NAV.Rules"></a></li>-->
        <li><a ui-sref="home.bcc ({id: $root.id})" translate="INDEX.LEFT_NAV.BCC"></a></li>
        <!--<li ng-if="home.isEven == true"><a  ui-sref="home.valuationByExpert" translate="INDEX.LEFT_NAV.EXPERT" ></a></li>-->
      </ul>
    </div>
    <div class="main-nav navbar-header col-lg-11 col-md-10 col-sm-10 col-xs-10  col-lg-offset-1 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
      <div class="row">
        <div style="display: table" class="col-lg-12 col-md-12 col-sm-12">
          <div class="home-navigation">
            <a href="#" class="btn btn-primary admin-btn" ui-sref="auth">
              <span class="glyphicon glyphicon-home"></span> {{ 'COMMON.TO-MAIN-PAGE' | translate }}
            </a>
          </div>
          <a ui-sref="home.main" ng-show="home.usual" class="navbar-brand" > {{ 'INDEX.ADVERTISER_TITLE' | translate }} {{ home.advertiser.name }}</a>
          <a ui-sref="home.videomain" ng-show="home.video" class="navbar-brand" > {{ 'INDEX.ADVERTISER_TITLE' | translate }} {{ home.advertiser.name }}</a>
          <div ng-if="home.bannerText != ''" class="wrapping-tech-banner" id="techBanner">
            <div class="tech-banner">
              {{home.bannerText}}
            </div>
            <span ng-click=home.hideBanner() class='close-block'></span>
          </div>

          <div class="location">
            <div class="location-help">
              <div>
                <a href="https://rtbcat.atlassian.net/wiki/display/RCHW/RTB+Cat+Help+Wiki?src=spacemenu" target="_blank">Help</a>
              </div>
            </div>
            <div class="location-language">
              <a ng-click="root.changeLang('ru')">
                <i class="fa fa-globe fa-fw"></i> Русский
              </a>
              /
              <a ng-click="root.changeLang('en')">
                <i class="fa fa-globe fa-fw"></i> English
              </a>
            </div>

            <a href="#" class="btn btn-danger admin-btn" ng-click="root.logout()" >
              <span class="glyphicon glyphicon-log-out"></span> {{ 'COMMON.LOGOUT' | translate }}
            </a>

            <a href="#" class="btn btn-primary admin-btn" ng-show="home.isEven" ui-sref="admin">
              <span class="glyphicon glyphicon-user"></span> {{ 'COMMON.GO-TO-ADMIN-PANEL' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <ui-view class="page-view col-lg-11 col-md-10 col-sm-10 col-xs-10
    col-lg-offset-1 col-md-offset-2 col-sm-offset-2 col-xs-offset-2"></ui-view>
  </div>
</div>
