<div class="content">
    <div class="page-header">
        <h1 class="capitalize">{{ resource }} List</h1>
    </div>

    <div table-filter></div>

    <table class="table table-striped table-bordered list">

        <thead>
        <tr>
            <th ng-repeat="column in fields"
                ng-show="column.visible"
                class="text-center sortable">

                <div class="sort-indicator">{{ column.title }}</div>

            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in list">
            <td ng-repeat="column in fields"
                ng-show="column.visible"
                sortable="column.field">

                <div ng-if="$first">
                    <a href="" ui-sref="resource.edit({resource: resource, id: {{ item.id }} })">
                        {{ item[column.field]}}</a>
                </div>

                <div ng-if="!$first">
                    <span ng-if="column.type == 'date'">{{ item[column.field] | date:"medium" }}</span>
                    <span ng-if="column.type != 'date'">{{ item[column.field]}}</span>
                </div>

            </td>
        </tr>
        <tbody>

    </table>

    <div table-paginate></div>

</div>
