<div class="location">
	<a ng-click="root.changeLang('ru')">
		<i class="fa fa-globe fa-fw"></i> Русский
	</a>
	/
	<a ng-click="root.changeLang('en')">
		<i class="fa fa-globe fa-fw"></i> English
	</a>
</div>
<div class="container">
	<div class="row">
		<div class="Absolute-Center is-Responsive">
			<div id="logo-container"></div>
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="mode-button">
					<div dx-select-box="auth.selectAdvertisers"></div>
					<div dx-button="auth.addButton" class="add-advertisers" ></div>
				</div>
			</div>
		</div>
	</div>
</div>