.authorization {
  div.well {
    height: 250px;
  }
  .advertiser-wrapper {
    display: none;
  }

  .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    h4{
      margin: 30px 0;
      color: #337ab7;
      font-size: 16px;
    }
  }

  .Absolute-Center.is-Responsive {
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px 0px 46px 7px;
  }

  .banner-show {
    display: table;
    background-color: white;
  }

  .banner-place {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    //background:  url(http://media.gettyimages.com/videos/matrix-blue-code-for-technology-and-science-background-video-id467027914?s=640x640) repeat-y white;
    border: 1px solid rgba(1, 5, 111, 0.42);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.4em;
    //color: white;
    //opacity: 0.7; /* Полупрозрачный фон */
    color: #820000;
    min-height: 200px;
    box-shadow: 10px 5px 5px black;
  }

  .mode-button {
    .dx-button {
      //padding-right: 20px;
      margin-right: 10px;
    }
    .dx-field-label {
      padding-left: 20px;
      width: auto;
    }
  ;
    .add-advertisers {
      margin-left: 5px;
    }
  ;
    width: 700px;
    top: 50px;
    div {
      float: left;
    }
  }

  .reg-form-container {
    max-width: 300px;
    height:100px;
    margin:0 auto;
    border:1px solid grey;
    border-radius: 5px 5px 5px 5px;
  }

  .select-user-type {
    height: 45px;
  }

  .input-item-login {
    height: 45px;
    padding-left: 49px;
  }

  .input-item-password {
    height: 45px;
    padding-left: 49px;
  }

  .submitting-button {
    margin-top: 12px;
    height: 45px;
  }

  .icon-for-user {
    position: absolute;
    top: 8px;
    left: 27px;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .location-language {
    float: left;
    margin-top: 7px;
    margin-right:10px;
  }

}
