<div class="location">
<div class="location-language">
  <a ng-click="root.changeLang('ru')">
    <i class="fa fa-globe fa-fw"></i> Русский
  </a>
  /
  <a ng-click="root.changeLang('en')">
    <i class="fa fa-globe fa-fw"></i> English
  </a>
  </div>
  <input type="button" class="btn btn-primary admin-btn hide" ng-click="auth.goToAdminPanel()" value="admin panel">
  <input type="button" class="btn btn-danger admin-btn hide" ng-click="auth.logout()" value="Log out">
</div>

<div class="authorization container">

  <div class="row">
    <div class="Absolute-Center is-Responsive reg-form-wrapper">
      <form name="auth.userForm" ng-submit="auth.submitForm(auth.user)" novalidate>

        <!-- insert the name -->
        <div class="col-sm-10">
          <div class="form-group" ng-class="{ 'has-error' : auth.userForm.email.$invalid && !auth.userForm.email.$pristine }">
            <i class="fa fa-user fa-2x icon-for-user"></i>
            <input type="email" name="email" class="form-control input-item-login"  placeholder="Enter your email" ng-model="auth.user.email" required>
            <p ng-show="auth.userForm.email.$invalid && !auth.userForm.email.$pristine && auth.userForm.email.$error.required" class="help-block">Your email is required.</p>
            <p ng-show="!auth.userForm.email.$error.required && auth.userForm.email.$invalid && !auth.userForm.email.$pristine" class="help-block">Your email is not valid.</p>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group" ng-class="{ 'has-error' : auth.userForm.password.$invalid && !auth.userForm.password.$pristine }">
            <i class="fa fa-unlock fa-2x icon-for-user"></i>
            <input type="password" name="password" class="input-item-password form-control input-item-password"  ng-model="auth.user.password" placeholder="Enter your password" required max-length="10" min-length="4">
            <p ng-show="auth.userForm.password.$invalid && !auth.userForm.password.$pristine" class="help-block">Your password is required.</p>
          </div>
        </div>
        <!--<div class="form-group">-->
          <!--<div class="col-sm-10">-->
            <!--<select ng-model="auth.user.permission" class="select-user-type form-control" title="user">-->
              <!--<option value="" disabled selected>Select the type of user</option>-->
              <!--<option value="adminfull">admin full</option>-->
              <!--<option value="adminread">admin read-only</option>-->
              <!--<option value="userfull">user full</option>-->
              <!--<option value="userread">user read-only</option>-->
            <!--</select>-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group">
          <div class="col-sm-10">
            <button type="submit" class="submitting-button btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="advertiser-wrapper">
      <div class="Absolute-Center is-Responsive">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          <div class="mode-button">
            <div dx-select-box="auth.selectAdvertisers"></div>
            <div dx-button="auth.addButton" class="add-advertisers" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
