<div class="container-fluid expert-camp col-lg-12  col-md-12 col-sm-12">
  <div class="row stats-header">
    <div class="groupHeadOpti">
      <span class="glyphicon glyphicon-tasks iconOpti"></span>
      <span translate="VBE.PAGE-NAME" class="camp-header"></span>:<span class="camp-header">
        <div class="control pull-right" dx-select-box="VBE.UI.datePiker"></div>
      </span>
    </div>
  </div>
  <div class="row camp-content1">

    <div class="gridContainerWhite" dx-button="VBE.UI.calculateAUC"></div>

    <div class="gridContainerWhite" dx-data-grid="VBE.UI.dataGridOptionsExpert"></div>

    <div class="content poed" ng-if="VBE.culcReady == true">
      <h1>Poed 1</h1>
      <h2>AUC = 0.8</h2>
      <div class="imgGraf">
        <img src="../../assets/images/auc.jpg" alt="">
      </div>
    </div>
      <h3 ng-if="VBE.culcReady == true">Confidence interval  - 95%</h3>
      <h3 ng-if="VBE.culcReady == true">Confidence error - 5%</h3>
    <div class="b-popup" id="popup1"  ng-if="VBE.popUpIf==true">
      <div class="b-popup-content">
        <div id="btn-close" class="btn-close" ng-click="VBE.popUpHide()"  title="Закрыть"></div>
        <h4 class="title">Prediction 1</h4>
        <table class="table">
          <tr ng-repeat="item in VBE.arraytoPopup track by $index" class="repitDiagram" style="display: block; position: relative; ">
            <td ng-if="item">{{item.day}}</td>
            <td ng-if="item">
              <div class="analiticCO" style="text-align: center;">
                <div class="diagramCO">
                  <div class="badDiagramCO" style="width:{{item.badDiagram}}; opacity: {{item.badOpasity}};"></div>
                  <div class="goodDiagramCO" style="width:{{item.goodDiagram}};opacity:{{item.goodOpasity}};"></div>
                  <p class="textBadDiagramCO" >{{ item.k.toFixed(1)}}%</p>
                  <p class="textGoodDiagramCO">{{(100-item.k).toFixed(1)}}%</p>
                </div>
                <div class="buttonAnaliticCO">
                  <div class="trueButtonAnaliticCO"></div>
                  <div class="falseButtonAnaliticCO"></div>
                </div>
              </div>
            </td>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

