.optimiser-camp {
  padding-top:10px;

  .stats-header {
    .groupHeadOpti {
      display: inline;

      .control {
        vertical-align: middle;
        display: inline-block;
      }

      .iconOpti{
        font-size: 24px;
        margin-left: 1.2%;
      }

      .camp-header {
        font-size: 24px;

      }
    }
  }

  .camp-content1 {
    margin-top: 3em;

    .transformable {
      -webkit-transition: height 100ms linear;
      -moz-transition: height 100ms linear;
      -o-transition: height 100ms linear;
      -ms-transition: height 100ms linear;
      transition: height 100ms linear;
      background-color: #eee;
      height: 100%;
      min-height: 100px;
      border: 1px solid black;
      display: block;

      h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
      }

      h5 {
        font-weight: 600;
        text-decoration: underline;
      }

      p {
        margin-left: 30px;
      }

      table {
        margin-bottom: 0;
        border: 1px solid #333;

        td {
          border-right: 1px solid #555;
        }
      }
    }

    .optimizerTitle {
      display: inline-block;
      padding: 5px 20px;
      margin-right: 40px;
      font-weight: 600;
      border: 2px solid #555;
    }

    .gridContainer2 {
      height: auto;
      width: 100%;
      margin-top: 1%;

      .buttonLeft {
        float: left;
      }
    }
  }

  .active-white {
    .white-list {
      background-color: rgba(0, 210, 212, 0.63);
    }
  }

  .active-black {
    .black-list {
      background-color: rgba(0, 210, 212, 0.63);
    }
  }

  .active-suspended {
    .suspended {
      background-color: rgba(0, 210, 212, 0.63);
    }
  }

  .unactive-white {
    .white-list {
      background-color: #F5F5F5;
    }
  }

  .unactive-black {
    .black-list {
      background-color: #F5F5F5;
    }
  }

  .unactive-suspended {
    .suspended {
      background-color: #F5F5F5;
    }
  }

  .lineMiddle {
    border: none; /* Убираем границу */
    background-color: #555; /* Цвет линии */
    color: #555; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
  }

  .dx-button {
    margin: 2px;
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

}


.b-popup{
  z-index: 999999999;
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  left: 0px;
  top:0px;

  .analiticCO {
    width: 280px;
    height: 38px;
    position: relative;

    .diagramCO {
      width: 200px;
      height: 20px;
      position: relative;

      .badDiagramCO {
        float: left;
        height: 20px;
        background-color: green;
        border-radius: 0px 0 0 0px;
        opacity:1.0;
      }

      .textBadDiagramCO {
        top: 1px;
        position: absolute;
        text-align: left;
        margin-left: 3px;
        opacity:1.0;
        color:black;
      }

      .goodDiagramCO{
        float:right;
        height: 20px;
        background-color: red;
        border-radius: 0 0px 0px 0;
        color: #fff;
      }

      .textGoodDiagramCO {
        top: 1px;
        right: 0;
        position: absolute;
        text-align: right;
        margin-right: 3px;
        opacity:1.0;
        color:black;
      }
    }

    .active-white {
      background-color: rgba(0, 210, 212, 0.63);
    }

    .dx-button {
      height: 20px;
      font-size: 12px;
      font-weight: 600;
      color: black;
      width: 95px;
    }

    .dx-button-text {
      display: inline-block;
      line-height: inherit;
    }
  }

  .b-popup-content {
    position: relative;
    margin:5% auto 0px auto;
    vertical-align: 40%;
    width:340px;
    height: 480px;
    padding:10px;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;

    table {
      width: 330px;
      tr {
        td {
          border-top: none;
          text-align: center;
          width: 110px;
        }
      }
    }

    .title {
      font-weight: 600;
      text-align: center;
    }

    .btn-close {
      background: url(../../assets/images/btn-close.png) no-repeat;
      height: 17px;
      left: 310px;
      position: absolute;
      top: 13px;
      width: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }
}




.counter-popup-group {

  .title {
    text-align: center;
    font-weight: 600;
  }

  .button {
    margin-top: 10px;
  }
}


.analiticCO {
  width: 280px;
  height: 32px;
  position: relative;

  .diagramCO {
    width: 100px;
    height: 20px;
    position: relative;

    .badDiagramCO {
      float: left;
      height: 20px;
      background-color: green;
      border-radius: 0px 0 0 0px;
      opacity:1.0;
    }

    .textBadDiagramCO {
      top: 1px;
      position: absolute;
      text-align: left;
      margin-left: 3px;
      opacity:1.0;
      color:black;
    }

    .goodDiagramCO{
      float:right;
      height: 20px;
      background-color:red;
      border-radius: 0 0px 0px 0;
      color: #fff;
    }

    .textGoodDiagramCO {
      top: 1px;
      right: 0;
      position: absolute;
      text-align: right;
      margin-right: 3px;
      opacity:1.0;
      color:black;
    }
  }

  .active-white {
    background-color: rgba(0, 210, 212, 0.63);
  }

  .dx-button {
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    width: 45px;


  }
  .dx-button-has-text .dx-button-content {
    padding: 0;
  }

  .dx-button-text {
    display: inline-block;
    line-height: inherit;
  }
}


/*div.dx-overlay-wrapper {
  display: none;
}*/
