.container-camp {
  position: absolute;
  //margin-top: -45px;

  .subTitle{
    margin-left: 50px;

    .tdTitle{
      font-size: 13px;
      text-align: right;
      padding-right: 10px;
    }
    .tdText{
      font-size: 11px;
    }

  }

  .campOpt-content {
    margin-top: 1em;

    .titleRules {
      margin-left: 1.2%;
    }


    .moneySpends {
      width: 70px;
      display: inline-block;
    }

/*    .spends{
      width: 20px;
      height: 20px;
      margin-top:0;
      margin-right: 5px;
    }*/
  }



}


