.optimiser-camp {
  padding-top: 10px;

  .stats-header {
    .groupHeadOpti {
      display: inline;

      .control {
        vertical-align: middle;
        display: inline-block;
      }

      .iconOpti {
        font-size: 24px;
        margin-left: 1.2%;
      }

      .camp-header {
        font-size: 24px;

      }
    }
  }

  .camp-content1 {
    margin-top: 3em;

    .transformable {
      -webkit-transition: height 100ms linear;
      -moz-transition: height 100ms linear;
      -o-transition: height 100ms linear;
      -ms-transition: height 100ms linear;
      transition: height 100ms linear;
      background-color: #eee;
      height: 100%;
      min-height: 100px;
      border: 1px solid black;
      display: block;

      h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
      }

      h5 {
        font-weight: 600;
        text-decoration: underline;
      }

      p {
        margin-left: 30px;
      }

      table {
        margin-bottom: 0;
        border: 1px solid #333;

        td {
          border-right: 1px solid #555;
        }
      }
    }

    .optimizerTitle {
      display: inline-block;
      padding: 5px 20px;
      margin-right: 40px;
      font-weight: 600;
      border: 2px solid #555;
    }

    .gridContainer2 {
      height: auto;
      width: 100%;
      margin-top: 1%;

      .buttonLeft {
        float: left;
      }
    }
  }

  .active {
    .dx-button-content {
      background-color: rgba(0, 210, 212, 0.63);
    }
  }

  .lineMiddle {
    border: none; /* Убираем границу */
    background-color: #555; /* Цвет линии */
    color: #555; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
  }

  .dx-button {
    margin: 2px;
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

}

.b-popup {
  z-index: 999999999;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;

  .analiticCO {
    width: 280px;
    height: 38px;
    position: relative;

    .diagramCO {
      width: 200px;
      height: 20px;
      position: relative;

      .badDiagramCO {
        float: left;
        height: 20px;
        background-color: green;
        border-radius: 0px 0 0 0px;
        opacity: 1.0;
      }

      .textBadDiagramCO {
        top: 1px;
        position: absolute;
        text-align: left;
        margin-left: 3px;
        opacity: 1.0;
        color: black;
      }

      .goodDiagramCO {
        float: right;
        height: 20px;
        background-color: red;
        border-radius: 0 0px 0px 0;
        color: #fff;
      }

      .textGoodDiagramCO {
        top: 1px;
        right: 0;
        position: absolute;
        text-align: right;
        margin-right: 3px;
        opacity: 1.0;
        color: black;
      }
    }

    .active-white {
      background-color: rgba(0, 210, 212, 0.63);
    }

    .dx-button {
      height: 20px;
      font-size: 12px;
      font-weight: 600;
      color: black;
      width: 95px;
    }

    .dx-button-text {
      display: inline-block;
      line-height: inherit;
    }
  }

  .b-popup-content {
    position: relative;
    margin: 5% auto 0px auto;
    vertical-align: 40%;
    width: 340px;
    height: 480px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;

    table {
      width: 330px;
      tr {
        td {
          border-top: none;
          text-align: center;
          width: 110px;
        }
      }
    }

    .title {
      font-weight: 600;
      text-align: center;
    }

    .btn-close {
      background: url(../../assets/images/btn-close.png) no-repeat;
      height: 17px;
      left: 310px;
      position: absolute;
      top: 13px;
      width: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
  }
}

.counter-popup-group {

  .title {
    text-align: center;
    font-weight: 600;
  }

  .button {
    margin-top: 10px;
  }
}

.analiticCO {
  width: 300px;
  height: 32px;
  position: relative;

  .diagramCO {
    width: 100px;
    height: 20px;
    position: relative;

    .badDiagramCO {
      float: left;
      height: 20px;
      background-color: green;
      border-radius: 0px 0 0 0px;
      opacity: 1.0;
    }

    .textBadDiagramCO {
      top: 1px;
      position: absolute;
      text-align: left;
      margin-left: 3px;
      opacity: 1.0;
      color: black;
    }

    .goodDiagramCO {
      float: right;
      height: 20px;
      background-color: red;
      border-radius: 0 0px 0px 0;
      color: #fff;
    }

    .textGoodDiagramCO {
      top: 1px;
      right: 0;
      position: absolute;
      text-align: right;
      margin-right: 3px;
      opacity: 1.0;
      color: black;
    }
  }

  .active-white {
    background-color: rgba(0, 210, 212, 0.63);
  }

  .dx-button {
    height: 20px;
    font-size: 12px;
    font-weight: 600;
    color: black;
    width: 45px;

  }
  .dx-button-has-text .dx-button-content {
    padding: 0;
  }

  .dx-button-text {
    display: inline-block;
    line-height: inherit;
  }
}


.container-fluid-rule {
  min-width: 1200px;
  color: #222;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Verdana, sans-serif;
  //background-color: ;
  border-radius: 5px;
  border: 1.5px solid #020002;
  margin-bottom: 10px;
}

.infoRule {
  min-width: 140px;
  color: #000;
}

.infotarget {
  color: #000;
  text-align: center;
  border-bottom: 1px solid #353535;
}

.info {
  color: #000;
  text-align: center;
}

.GroupRepeat {
  display: inline-block;
}

.object-group {
  position: relative;
  min-height: 20px;

  .bracet-begin {
    position: absolute;
    border-left: 2px solid #d9534f;
    border-top: 2px solid #d9534f;
    border-bottom: 2px solid #d9534f;
    left: 0;
    height: 100%;
    width: 7px;
    z-index: 2;
    border-radius: 4px;
  }

  .bracet-end {

    position: absolute;
    border-right: 2px solid #d9534f;
    border-top: 2px solid #d9534f;
    border-bottom: 2px solid #d9534f;
    width: 7px;
    margin-left: 3px;
    height: 100%;
    z-index: 2;
    top: 0;
    right: 0;
    border-radius: 3px;
  }
}

.ng-hide {
  height: 0;
}

.all-if-rule {
  position: relative;
  padding: 5px;

  .chec {
    position: relative;
    margin-top: 50px;
  }
  .GroupShow {
    margin-right: 5px;
    margin-left: 7px;

  }
  .AllRule {
    background-color: rgba(51, 122, 183, .51);
  }
  .if-rule {
    position: relative;
    display: inline-block;

    .logic-rule {
      position: relative;
      height: 140px;
      width: 40px;
      margin-left: 2px;
      margin-bottom: 5px;
      display: inline-block;
      z-index: 1;
      .RadioRule {
        position: absolute;
        height: 140px;
        width: 100%;
      }
      .RadioRuleOr {
        position: absolute;
        top: 36px;
        width: 41px;
        height: 50px;
        left: 0px;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
      }
      .RadioRuleAnd {
        position: absolute;
        top: 86px;
        width: 41px;
        height: 50px;
        left: 0px;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
      }
      .OrLogic {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        border-radius: 3px;
        border: 2px solid #b4b4b4;
        height: 45px;
        margin-top: 45px;

      }

      .ORback input:hover + .OrLogic {
        color: #ffffff;
        background-color: rgba(0, 210, 212, 0.63);
      }
      .ORback input:active + .OrLogic {
        color: #ffffff;
        box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 5px #101010;
        background-color: rgba(0, 210, 212, 0.63);
        transform: scale(0.92);
      }
      .ORback input:checked + .OrLogic {
        color: #FFFFFF;
        background-color: rgba(0, 210, 212, 0.63);
      }

      .AndLogic {
        text-align: center;
        width: 100%;
        padding-top: 10px;
        border: 2px solid #b4b4b4;
        height: 45px;
        border-radius: 3px;

      }
      .ANDback input:hover + .AndLogic {
        color: #ffffff;
        background-color: rgba(0, 210, 212, 0.63);
      }
      .ANDback input:active + .AndLogic {
        color: #ffffff;
        box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 5px #000000;
        background-color: rgba(0, 210, 212, 0.63);
        transform: scale(0.92);
      }
      .ANDback input:checked + .AndLogic {
        color: #FFFFFF;
        background-color: rgba(0, 210, 212, 0.63);
      }
    }
    .removeF {
      position: absolute;
      top: 0;
      height: 40px;
      width: 100%;

      padding-left: 6px;
      font-size: 18px;
      text-decoration: none;
      color: #fff;
      z-index: 4;
      background-color: #d9534f;
      border-radius: 3px;
      border: none;
    }

    .removeF:hover {

      background-color: rgba(188, 50, 50, 0.91);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px #000000;
      background-color: rgba(188, 50, 50, 0.91);
    }
    .removeF:active {
      transform: scale(0.92);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px #000000;
      background: -webkit-linear-gradient(bottom, #BC3232 0%, #565656 100%);
      background: -moz-linear-gradient(bottom, #BC3232 0%, #565656 100%);
      background: -ms-linear-gradient(bottom, #BC3232 0%, #565656 100%);
      background: -o-linear-gradient(bottom, #BC3232 0%, #565656 100%);
      background: linear-gradient(bottom, #BC3232 0%, #565656 100%);
    }

  }
  .removeF:hover:after {

    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: -30px;
    z-index: 4;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    border: 2px solid #b4b4b4;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 4px 4px;
  }

  .AllRule {
    max-width: 140px;

  }
  .object-rule {
    position: relative;
    width: 165px;
    height: 140px;
    margin-right: 10px;
    color: #000;
    margin-bottom: 5px;
    border: 1px solid #d3d3d3;
    background-color: rgba(51, 122, 183, .51);
  }

  .RuleShow {
    position: relative;
    width: 145px;
    height: 140px;
    left: 0;
    color: #000;

    transition: all linear 0.2s;

    .dropdown {
      position: absolute;
      left: 5px;
      top: 10px;
      width: 120px;
      transition: all linear 0.1s;
      .select3 {
        width: 120px;
      }
    }

    .dropdown1 {
      position: absolute;
      left: 5px;
      top: 40px;
      width: 120px;
      .select1 {
        width: 108px;
      }
    }
    .dropdown2 {
      position: absolute;
      left: 5px;
      width: 120px;
      top: 70px;
      .select2 {
        width: 58px;
      }
    }
    .inputm {
      position: absolute;
      left: 5px;
      top: 100px;
      width: 120px;
      .money {
        height: 20px;
        width: 77px;
      }
    }
  }

}

.RuleShow.ng-hide {
  height: 0px;
}

.RuleShow.ng-show {
  height: 140px;
}


input {
  color: #0f0f0f;
}

.Infologic {
  position: relative;
  display: inline-block;
  background-color: #606060;
  color: #070707;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  right: -4px;
  width: 30px;
  height: 57px;
}

.removeInfo {
  position: absolute;
  top: 0;
  height: 30px;
  left: 0;
  width: 100%;
  padding-left: 6px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  z-index: 4;
  background-color: #d9534f;
  border-radius: 3px;
  border: none;
}

.removeInfo:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px #000000;
  background-color: rgba(188, 50, 50, 0.91);
}

.removeInfo:hover:after {

  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -30px;
  z-index: 4;
  font-size: 14px;
  color: #000;
  border-radius: 5px;
  border: 2px solid #b4b4b4;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 4px 4px;
}

.removeInfo:active {
  transform: scale(0.92);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px #000000;
  background-color: rgba(188, 50, 50, 0.91);
}

.InfoOr {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 20px;
  top: 31px;
  text-align: center;
}

.InfoAnd {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 20px;
  top: 31px;
  text-align: center;
}

.add-rule {

  display: inline-block
}

.addfields {
  position: absolute;
  top: 0;
  height: 50%;
  right:0;
  width: 35px;
  padding-left: 6px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  z-index: 4;
  background-color: #006c00;
  border-radius: 3px;

}

.addgroup {
  border-top: solid rgb(255, 255, 255) 1px;
  position: absolute;
  bottom: 0;
  height: 50%;
  right: 0;
  width: 35px;
  padding-left: 6px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  z-index: 4;
  background-color: #006c00;
  border-radius: 0px;
}

.RuleString {
  position: relative;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: 3px;
  .addfieldsG {
    border: solid rgba(0, 0, 0, 0.23) 1px;
    position: absolute;
    top: 0;
    height: 30px;
    right: 40px;
    width: 40px;
    padding-left: 9px;
    padding-top: 3px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    z-index: 5;
    background-color: #12c71b;
    border-radius: 5px;

  }
  .addfieldsG:hover:after {

    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: -30px;
    z-index: 4;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    border: 2px solid #b4b4b4;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 4px 4px;
  }

  .addgroupG {
    border: solid rgba(0, 0, 0, 0.23) 1px;
    position: absolute;
    top: 0;
    height: 30px;
    right: 0;
    width: 40px;
    padding-left: 9px;
    padding-top: 3px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    z-index: 4;
    background-color: #12c71b;
    border-radius: 5px;
  }
  .addgroupG:hover:after {

    content: attr(data-title);
    position: absolute;
    left: 50%;
    top: -30px;
    z-index: 4;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    border: 2px solid #b4b4b4;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 4px 4px;
  }

}

.green:hover {
  color: #FFFFFF;
  box-shadow: 0 0 1px rgba(167, 167, 167, 0.5), inset 1px 1px 1px #5d5d5d;;
  background: #54c261;
  background-image: -webkit-linear-gradient(top, #49964b, #37b54a);
  background-image: -moz-linear-gradient(top, #49964b, #37b54a);
  background-image: -ms-linear-gradient(top, #49964b, #37b54a);
  background-image: -o-linear-gradient(top, #49964b, #37b54a);
  background-image: linear-gradient(to bottom, #49964b, #37b54a);
}

.green:hover:after {

  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -30px;

  font-size: 14px;
  color: #000;
  border-radius: 5px;
  border: 2px solid #b4b4b4;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 4px 4px;
}

.onoff {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  left: 27px;;
  zoom: 1;
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.onoff1 {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  left: -1px;
  z-index: 3;
  opacity: 0;
  top: -5px;
  zoom: 1;
  position: relative;
  cursor: pointer;
  width: 61px;
  height: 36px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.onoff2 {
  margin-left: -27px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  left: -1px;
  z-index: 3;
  opacity: 0;
  top: -5px;
  zoom: 1;
  position: relative;
  cursor: pointer;
  width: 61px;
  height: 36px;
  line-height: 30px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(151, 41, 41, 0.91);
  border-radius: 5px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;

  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4) inset;
}

.onoff label:hover {
  box-shadow: 0 0 1px rgb(253, 253, 253);
}

.onoff label:after {
  content: 'Hide';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
  color: #fffdfe;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  z-index: 1;
}

.onoff label:before {
  content: '';
  width: 15px;
  height: 24px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

.onoff input:checked + label {
  background-color: #006c00;
  text-indent: 8px;
}

.onoff input:checked + .then {
  background-color: #006c00;
  text-indent: 8px;
}

.onoff input:checked + label:after {

  content: 'Show';
  color: #fffdfe;
}

.onoff input:checked + label:before {
  left: 42px;
}

.then {
  position: relative;
  border-radius: 5px;
  text-align: center;
  height: 140px;
  width: 180px;
  display: inline-block;
  bottom: 5px;
  border: solid rgb(133, 133, 133) 2px;

  input {

    z-index: 3;
    cursor: pointer;
  }
  label {
    position: absolute;
    z-index: 1;
    padding-bottom: 2px;

  }

}

.lr-option {

  border-radius: 5px;
  left: 5px;
  width: 80px;
  border: solid rgb(133, 133, 133) 1px;
  z-index: 1;
  top: 5px;
}

.lr1-option {

  border-radius: 5px;
  left: 90px;
  width: 80px;
  border: solid rgb(133, 133, 133) 1px;
  z-index: 1;
  top: 5px;
}

.r-optionc {
  position: absolute;
  opacity: 0;
  width: 81px;
  left: 5px;
  top: -1px;
  height: 30px;

}

.r1-optionc {
  position: absolute;
  width: 81px;
  opacity: 0;
  left: 90px;
  top: 2px;
  height: 30px;

}

.option1 {
  position: absolute;
  top: 24px;
  width: 80px;
  height: 20px;
  left: 2px;

}

.option2 {
  position: absolute;
  top: 52px;
  width: 80px;
  height: 20px;
  left: 2px;

}

.option3 {
  position: absolute;
  top: 24px;
  width: 80px;
  height: 20px;
  left: 83px;

}

.option4 {
  position: absolute;
  top: 52px;
  width: 80px;
  height: 20px;
  left: 83px;

}

.RadioTime1 {
  position: absolute;
  width: 170px;
  top: 40px;
  margin: 0 auto;
  left: 3.5px;
  border-radius: 3px;
  height: 90px;
  border: solid #858585 1px;
  input {
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

label {
  position: absolute;
  padding-bottom: 2px;

}

}

.RadioTime1  .option1:checked + .lr-option-time {
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime1  .option2:checked + .lr1-option-time {
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime1  .option3:checked + .lr2-option-time {
   box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
   background-color: rgba(0, 210, 212, 0.63);
   transform: scale(0.92);
 }
.RadioTime1  .option4:checked + .lr3-option-time {
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.RadioTime1  .option1:active + .lr-option-time {
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime1  .option2:active + .lr1-option-time {
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime1  .option3:active + .lr2-option-time {
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime1  .option4:active + .lr3-option-time {
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.RadioTime2 .option_4:checked +.lr3-option-time_4{
  background-color: rgba(0, 210, 212, 0.63);
}

.RadioTime2 .option_1:active +.lr-option-time_1{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.lr-option-time {

  border-radius: 5px;
  width: 80px;
  border: solid #858585 1px;
  z-index: 1;
  left: 3px;
  top: 26px;
}

.lr1-option-time {

  border-radius: 5px;
  width: 80px;
  border: solid #858585 1px;
  z-index: 1;
  left: 3px;
  top: 55px;
}

.lr2-option-time {

  border-radius: 5px;
  width: 80px;
  border: solid #858585 1px;
  z-index: 1;
  left: 85px;
  top: 26px;
}

.lr3-option-time {

  border-radius: 5px;
  width: 80px;
  border: solid #858585 1px;
  z-index: 1;
  left: 85px;
  top: 55px;
}
.RadioTime2 {
position: absolute;
  width: 160px;
  height: 80px;

  input {
    opacity: 0;
    z-index: 3;
    cursor: pointer;
  }

  label {
    position: absolute;
    padding-bottom: 2px;
    z-index: 1;
  }

}
.RadioTime2 .option_1:checked +.lr-option-time_1{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime2 .option_2:checked +.lr1-option-time_2{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime2 .option_3:checked +.lr2-option-time_3{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime2 .option_4:checked +.lr3-option-time_4{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.RadioTime2 .option_1:active +.lr-option-time_1{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime2 .option_2:active +.lr1-option-time_2{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime2 .option_3:active +.lr2-option-time_3{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.RadioTime2 .option_4:active +.lr3-option-time_4{
  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}
.option_1{
  position: absolute;
  top: 28px;
  width: 80px;
  height: 20px;
  left: 1px;
}
.option_2{
  position: absolute;
  top: 52px;
  width: 80px;
  height: 20px;
  left: 1px;
}
.option_3{
  position: absolute;
  top: 28px;
  width: 80px;
  height: 20px;
  left: 83px;
}
.option_4{
  position: absolute;
  top: 52px;
  width: 80px;
  height: 20px;
  left: 83px;
}
.lr-option-time_1 {

  border-radius: 5px;
  position: absolute;
  top: 30px;
  height: 20px;
  border: solid #858585 1px;
  width: 80px;

  left: 2px;

}
.lr1-option-time_2 {
  border-radius: 5px;
  position: absolute;
  top: 55px;
  width: 80px;
  height: 20px;
  border: solid #858585 1px;

  left: 2px;
}
.lr2-option-time_3 {

  border-radius: 5px;
  position: absolute;
  top:30px;
  width: 80px;
  height: 20px;
  border: solid #858585 1px;

  left: 83px;
}
.lr3-option-time_4 {

  border-radius: 5px;
  position: absolute;
  top: 55px;
  width: 80px;
  height: 20px;
  border: solid #858585 1px;

  left: 83px;
}

.then .r-optionc:checked + .lr-option {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.then .r1-optionc:checked + .lr1-option {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.then .r2-optionc:checked + .lr2-option {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.then .r-optionc:active + .lr-option {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.then .r1-optionc:active + .lr1-option {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.85);
}

.then .r2-optionc:active + .lr2-option {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.85);
}

.then-little {
  position: relative;
  border-radius: 5px;
  text-align: center;
  height: 84px;

  width: 168px;
  display: inline-block;
  bottom: -5px;

  border: solid rgb(133, 133, 133) 2px;
  input {
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

label {
  position: absolute;
  padding-bottom: 2px;

}
}



.TimeRule1 {
  position: absolute;
  top: 60px;
  left: 26px;
}

.TimeRule {
  position: absolute;
  top: 116px;
  left: 10px;
}

.lr-option-little {

  border-radius: 5px;
  left: 2px;
  width: 80px;
  border: solid #858585 1px;
  z-index: 1;
  top: 2px;

}

.lr1-option-little {

  border-radius: 5px;
  left: 84px;
  width: 80px;
  border: solid #858585 1px;
  z-index: 1;
  top: 2px;
}

.lr2-option-little {
  text-align: center;
  width: 140px;
  height: 30px;
  left: 12px;
  border-radius: 5px;
  border: solid #858585 1px;
  z-index: 1;
  padding-top: 4px;
  top: 30px;
}

.r-optionc-little {
  position: absolute;
  height: 21px;
  border-radius: 5px;
  left: 1px;
  width: 80px;
  top: 2px;
}

.r1-optionc-little {
  position: absolute;
  height: 21px;
  border-radius: 5px;
  left: 84px;
  width: 80px;
  top: 2px;

}



.then-little .r-optionc-little:checked + .lr-option-little {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);background-color: rgba(0, 210, 212, 0.63);
}

.then-little .r1-optionc-little:checked + .lr1-option-little {

   box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);background-color: rgba(0, 210, 212, 0.63);
}



.then-little .r-optionc-little:active + .lr-option-little {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}

.then-little .r1-optionc-little:active + .lr1-option-little {

  box-shadow: 0 0 1px rgb(0, 0, 0), inset 1px 1px 1px #101010;
  background-color: rgba(0, 210, 212, 0.63);
  transform: scale(0.92);
}



.DeleteRule {
  background-color: #d9534f;
  float: right
}


