<div class="container-camp col-lg-12  col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <span translate="CO.NAME" class="camp-header"></span>:<span class="camp-header">
    <a href="" ui-sref="home.campaign.details({id: CO.campId})"  >{{CO.campName}} </a>
  </span>
    <div class="subTitle">
      <table>
        <tr>
          <td class="tdTitle"><b translate="CO.ORIGINAL">Original</b></td>
          <td class="tdText" >-x-036_SLS_DYN_0_APX_0W0_CPM_MSM_MUL_US.California_300x250 (Direct)</td>
        </tr>
        <tr>
          <td class="tdTitle"><b translate="CO.OPTIMISED">Optimised (Whitelist)</b></td>
          <td class="tdText">-x-037_SLX_DYN_0_APX_0W0_CPM_MSM_MUL_US.California_300x250 (Direct)</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-8 piker col-sm-3 col-sm-offset-8 col-xs-5 col-xs-offset-6">
    <div dx-select-box="CO.datePiker"></div>
  </div>
  <div class="row campOpt-content">
    <h3 class="titleRules" translate="CO.RULES">Rules for All Domains:</h3>

    <!--      <div dx-check-box="CO.spends" ></div>
					<div dx-text-box="CO.moneySpends" class="moneySpends"></div>
					<spend>and conversions are 0 then</spend>-->

    <!-- first line-->
    <div class="form-inline">
      <input type="checkbox" class="checkbox-inline spends"  name="spends" checked> {{'CO.SPENDS' | translate}}
      <div class="input-group ">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control moneySpends" value="2">
      </div>
      {{'CO.CONVERSIONS1' | translate}}
      <select class="form-control input-group sel2" >
        <option>Blacklist</option>
        <option>Suspend</option>
      </select>
    </div>
    <div class="form-inline input-group">
      <label class="radio-inline"><input type="radio" name="optradio" checked> AND </label>
      <label class="radio-inline"><input type="radio" name="optradio"> OR </label>
    </div>
    <!-- second line-->
    <div class="form-inline">
      <input type="checkbox" class="checkbox-inline spends" name="spends" >
      {{'CO.APP' | translate}}
      <input type="text" class="form-control impSpends"  value="1000000" placeholder="">
      {{'CO.CONVERSIONS2' | translate}}
      <select class="form-control input-group sel2">
        <option>Blacklist</option>
        <option>Suspend</option>
      </select>
    </div>
    <div class="form-inline input-group">
      <label class="radio-inline "><input type="radio" name="optradio2" checked> AND </label>
      <label class="radio-inline "><input type="radio" name="optradio2"> OR </label>
    </div>
    <!-- third line-->
    <div class="form-inline">
      <input type="checkbox" class="checkbox-inline spends" name="spends" >
      {{'CO.UNDISCLOSED' | translate}}

      <select class="form-control input-group sel2">
        <option>Blacklist ASAP</option>
        <option>no change</option>
      </select>
    </div>


    <h3 class="titleRules" translate="CO.DOMAIN-RULES">Domain-specific rules:</h3>

    <div class="row rowGrid">
      <h3 class="titleRules" translate="CO.CURRENT-LIST">Current list of placements - Live now</h3>

      <div  id="gridContainer2" dx-data-grid="CO.dataGridOptionsCampaign">
        <div data-options="dxTemplate: {name: 'headerCellTemplate'}">
          <div ng-model="main.state" dx-select-box="$parent.campmain.selectCell"></div>
        </div>
      </div>

    </div>

    <div class="row rowGrid">
      <h3 class="titleRules" ><b>Blacklist</b></h3>

      <div  id="gridContainer3" dx-data-grid="CO.dataGridOptionsCampaign3">
        <div data-options="dxTemplate: {name: 'headerCellTemplate'}">
          <div ng-model="main.state3" dx-select-box="$parent.campmain.selectCell3"></div>
        </div>
      </div>

    </div>

    <div class="row rowGrid">
      <h3 class="titleRules" ><b>Whitelist</b></h3>

      <div  id="gridContainer4" dx-data-grid="CO.dataGridOptionsCampaign4">
        <div data-options="dxTemplate: {name: 'headerCellTemplate'}">
          <div ng-model="main.state4" dx-select-box="$parent.campmain.selectCell4"></div>
        </div>
      </div>

    </div>

  </div>
</div>
