<div class="container-fluid container-camp-second col-lg-12  col-md-12 col-sm-12">
  <div class="second-container-details row">
    <div class="label-container">
      <input type="button" disabled  ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.placement.header)"  name='Placement' value="{{campdetails.ctrlBbtns.placement.btn}}" class="nav-btn">
      <input type="button" disabled  ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.creativeId.header)" name='creative_id' value="{{campdetails.ctrlBbtns.creativeId.btn}}" class="nav-btn">
      <input type="button" disabled  ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.creativeSize.header)" name='creative_size' value="{{campdetails.ctrlBbtns.creativeSize.btn}}" class="nav-btn">
      <input type="button"  disabled ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.viewability.header)" name='viewability' value="{{campdetails.ctrlBbtns.viewability.btn}}" class="nav-btn">
      <input type="button" disabled  ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.os.header)" name='OS' value="{{campdetails.ctrlBbtns.os.btn}}" class="nav-btn">
      <input type="button" disabled  ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.carrier.header)" name='carrier' value="{{campdetails.ctrlBbtns.carrier.btn}}" class="nav-btn">
      <input type="button"  disabled ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.networkSeller.header)" name='network(seller)' value="{{campdetails.ctrlBbtns.networkSeller.btn}}" class="nav-btn">
      <input type="button"  disabled ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.connectionType.header)" name='connection_type' value="{{campdetails.ctrlBbtns.connectionType.btn}}" class="nav-btn">
      <input type="button" disabled  ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.device.header)" name='device' value="{{campdetails.ctrlBbtns.device.btn}}" class="nav-btn">
      <input type="button" disabled ng-click="campdetails.selectInfoBtn($event, campdetails.ctrlBbtns.seller.header)" name='Seller' value="{{campdetails.ctrlBbtns.seller.btn}}" class="nav-btn">
    </div>
    <div class="pie-chart-container">
      <div class="header-pie-chart">
        <div class="pie-chart-header"><h4>{{campdetails.pieChartHeader}}</h4></div>
        <div class="target-cpa-container">
          <div class="input-target-cpa-text">target CPA</div>
          <input class="input-target-cpa" type="text" ng-blur="campdetails.targetCpaChange($event)" ng-keyup="$event.keyCode == 13 && campdetails.targetCpaChange($event)" ng-model="campdetails.targetCpa" maxlength="5">
        </div>
      </div>
      <div class="pie-charts">
        <div class="chart-container" dx-pie-chart="campdetails.pieChartAll"></div>
        <div class="chart-container" dx-pie-chart="campdetails.pieChartConversions"></div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <span class="first">${{campdetails.backetsRanges.first.min}}-${{campdetails.backetsRanges.first.max}}</span>
          <div  dx-data-grid="campdetails.cpaBucketFirst"></div>
        </div>
        <div class="col-lg-6">
          <span class="first">${{campdetails.backetsRanges.second.min}}-${{campdetails.backetsRanges.second.max}}</span>
          <div  dx-data-grid="campdetails.cpaBucketSecond"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <span class="first">${{campdetails.backetsRanges.third.min}}-${{campdetails.backetsRanges.third.max}}</span>
          <div  dx-data-grid="campdetails.cpaBucketThird"></div>
        </div>
        <div class="col-lg-6">
          <span class="first">${{campdetails.backetsRanges.fourth.min}}+</span>
          <div  dx-data-grid="campdetails.cpaBucketFourth"></div>
        </div>
      </div>
      <!--<div class="buckets">-->
      <!--<div><h3 class="header-buckets">CPA buckets</h3></div>-->
      <!--<div class="bucket-item">-->
      <!--<div><span class="first">${{campdetails.backetsRanges.first.min}}-${{campdetails.backetsRanges.first.max}}</span></div>-->
      <!--<div class="bucket-item-list"><div ng-repeat="item in campdetails.cpaArrayFirst">{{item}}</div></div>-->
      <!--</div>-->
      <!--<div class="bucket-item">-->
      <!--<div><span class="second">${{campdetails.backetsRanges.second.min}}-${{campdetails.backetsRanges.second.max}}</span></div>-->
      <!--<div class="bucket-item-list"><div ng-repeat="item in campdetails.cpaArraySecond">{{item}}</div></div>-->
      <!--</div>-->
      <!--<div class="bucket-item">-->
      <!--<div><span class="third">${{campdetails.backetsRanges.third.min}}-${{campdetails.backetsRanges.third.max}}</span></div>-->
      <!--<div class="bucket-item-list"><div ng-repeat="item in campdetails.cpaArrayThird">{{item}}</div></div>-->
      <!--</div>-->
      <!--<div class="bucket-item">-->
      <!--<div><span class="fourth">${{campdetails.backetsRanges.fourth.min}}+</span></div>-->
      <!--<div class="bucket-item-list"><div ng-repeat="item in campdetails.cpaArrayFourth">{{item}}</div></div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>


