<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Home</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper wrapper-content">
    <div class="col-lg-7">
        <div class="ibox float-e-margins" id="main_graph">
            <div class="ibox-title">
                <h5>Line Graph</h5>
                <div class="ibox-tools">
                    <div class="vs-dropdown">
                        <div class="pallet-box" id="graph_vs_pallet_1">&nbsp;</div>
                        <select class="vs-dropdown-metrics" id="graph_metrics_1" name="yaxis-l">
                            <option value="clks">Clicks</option>
                            <option value="conv" disabled="true">Conversion</option>
                            <option value="cpc">CPC</option>
                            <option value="cpm">CPM</option>
                            <option value="ctr">CTR</option>
                            <option value="cvr">CVR</option>
                            <option value="imps">Impression</option>
                            <option value="cost" selected="true">Spend</option>
                        </select>
                        &nbsp;vs.&nbsp;
                        <div class="pallet-box" id="graph_vs_pallet_2">&nbsp;</div>
                        <select class="vs-dropdown-metrics" id="graph_metrics_2" name="yaxis-r">
                            <option value="clks">Clicks</option>
                            <option value="conv" selected="true">Conversion</option>
                            <option value="cpc">CPC</option>
                            <option value="cpm">CPM</option>
                            <option value="ctr">CTR</option>
                            <option value="cvr">CVR</option>
                            <option value="imps">Impression</option>
                            <option value="cost" disabled="true">Spend</option>
                        </select>
                    </div>
                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row_1">
                    <div id="cumulative_line_chart" style="width:100%;height:100%">&nbsp;</div>
                </div>
                <div class="row row_2">
                    <div class="col-xs-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Spend <span class="stat-label" data-for="cost"></span></td>
                            </tr>
                            <tr>
                                <td>Conversion <span class="stat-label" data-for="conv"></span></td>
                            </tr>
                            <tr>
                                <td>Impression <span class="stat-label" data-for="imps"></span></td>
                            </tr>
                            <tr>
                                <td>Clicks <span class="stat-label" data-for="clks"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>CPC <span class="stat-label" data-for="cpc"></span></td>
                            </tr>
                            <tr>
                                <td>CPM <span class="stat-label" data-for="cpm"></span></td>
                            </tr>
                            <tr>
                                <td>CVR <span class="stat-label" data-for="cvr"></span></td>
                            </tr>
                            <tr>
                                <td>CTR <span class="stat-label" data-for="ctr"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="ibox float-e-margins" id="main_map">
            <div class="ibox-title">
                <h5>World Map</h5>
                <div class="ibox-tools">
                    <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a>
                                <div class="radio">
                                    <input id="map_rb_clks" type="radio" name="map_stat" value="clicks"/>
                                    <label for="map_rb_clks">
                                        Clicks
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="radio">
                                    <input id="map_rb_cost" type="radio" name="map_stat" value="cost"/>
                                    <label for="map_rb_cost">
                                        Cost
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="radio">
                                    <input id="map_rb_conv" type="radio" name="map_stat" value="conv"/>
                                    <label for="map_rb_conv">
                                        Conversion
                                    </label>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="radio">
                                    <input id="map_rb_imps" type="radio" name="map_stat" value="imps" checked="true"/>
                                    <label for="map_rb_imps">
                                        Impression
                                    </label>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content">
                <div class="map_container">
                    <div ng-controller="dashboardMap as map">
                        <div vector-map style="height: 300px;" my-map-data="map.data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cumulative Advertiser Stats</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <div class="flot-chart">
                    <div flot class="flot-chart-content" dataset="charts.flotMultiData"
                         options="charts.flotMultiOptions"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <td>Total</td>
                        <td>Spend</td>
                        <td>conv.</td>
                        <td>imp</td>
                        <td>clicks</td>
                        <td>cpc</td>
                        <td>cpm</td>
                        <td>CVR</td>
                        <td>CTR</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td>$1710</td>
                        <td>13</td>
                        <td>3,122,200 | 2000</td>
                        <td>$1.15 | $0.98</td>
                        <td>0.4%</td>
                        <td>0.9%</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
