
.container-home {
  #gridContainer1 {
    height: auto;
    width: 95%;
  }
  #gridContainer2 {
    height: auto;
    width: 100%;
  }

  .chart-container {
    width: 40%;
    height: auto;
    margin-top: 20px;
    float: left;
  }

  .label-checkbox {
    font-size: 14px;
    display: block;
    padding-top: 1%;
  }

  #chart {
    width: 100%;
    height: 350px;
  }
  .charts-block {
    text-align: center;
    margin-top: 3vh;

    .checkbox-container {
      display: inline-block;
      float: none;
      vertical-align: top;
      text-align: left;
      padding: 1% 0 0 0;
      margin-right: 3vw;
      margin-left: 15px;
      margin-top: 35px;
    }
    .chart {
      display: inline-block;
      float: none;
      padding: 0;
      vertical-align: top;
    }
  }

  .piker{
    top: 25px;
    position: absolute;
    float: right;
  }

  .mapTop {
    float: right;

    #visualMap {
      height: 320px;
      width: 100%;
      float: right;
      margin-bottom: 30px;
      //margin-left: -150px;
      //padding-left: -50px;
    }

  }
  .second-grid {
    a {
      text-decoration: underline;
      &:hover {
        color: darkblue;
      }
    }
  }

  .dx-overlay-content .dx-resizable .dx-loadpanel-content{
    position: absolute;
    left: 400px;
  }

}
