/*

.container-camp {
  position: absolute;
  top: 5%;

  #gridContainer1 {
    height: auto;
    width: 95%;
  }
  #gridContainer2 {
    height: auto;
    width: 95%;
  }

  .chart-container {
    width: 40%;
    height: auto;
    float: left;
  }

  .label-checkbox {
    font-size: 14px;
    display: block;
    padding-top: 1%;
  }

  #chart {
    float: left;
    margin-right: 2%;
  }


  .checkbox-container {
    float: left;
    margin-right: 6%;
    margin-left: 10%;
  }

  .second-grid {
    margin-top: 3%;
  }
  .piker{
    top: 25px;
    position: absolute;
    float: right;
  }
  #visualMap {
    height: 400px;
    width: 500px;
    float: left;
    margin-bottom: 30px;
  }
}
*/
