<div class="container-camp col-md-10 col-sm-10 col-md-offset-2  col-sm-offset-2">
   <div class="row">
     <span translate="CAMP.NAME" class="camp-header"></span><span class="camp-header">: {{camp.campName}}</span>
   </div>
  <div class="col-md-3 col-md-offset-8 col-sm-3 col-sm-offset-8 piker">
    <div dx-select-box="camp.datePiker"></div>
  </div>
  <div class="row camp-content1">
    <div>
      <div class="row contLeft">
        <div id="zoomedContainerFirst" class="first-chart">
          <div id="zoomedChartFirst" dx-chart="camp.chartOptionsFirst"></div>
          <div dx-range-selector="camp.rangeOptionsFirst"></div>
        </div>
        <!--<div class="col-md-4 col-sm-4 second-chart">-->
          <!--<div id="container-inner" dx-chart="camp.boxPlot"></div>-->
          <!--<div  dx-range-selector="camp.rangeSecondChartOptions" class="second-range"></div>-->
        <!--</div>-->
        <div id="zoomedContainerSecond">
          <div id="zoomedChartSecond" dx-chart="camp.chartOptionsSecond"></div>
          <div dx-range-selector="camp.rangeOptionsSecond"></div>
        </div>
        <div class="col-md-2 col-sm-2 checkbox-container">
          <div>
            <label class="label-checkbox"><div dx-check-box="camp.impressions"></div></label>
            <label class="label-checkbox"><div dx-check-box="camp.CPA"></div></label>
            <label class="label-checkbox"><div dx-check-box="camp.CPC"></div></label>
            <label class="label-checkbox"><div dx-check-box="camp.clicks"></div></label>
            <label class="label-checkbox"><div dx-check-box="camp.media"></div></label>
            <label class="label-checkbox"><div dx-check-box="camp.conversions"></div></label>
            <label class="label-checkbox"><div dx-check-box="camp.CTR"></div></label>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row first-grid">
    <div  id="gridContainer2" dx-data-grid="camp.dataGridOptionsCampaign"></div>
  </div>

  <div class="second-container">
    <div class="label-container">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.placement.header)"  name='Placement' value="{{camp.ctrlBbtns.placement.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.creativeId.header)" name='creative_id' value="{{camp.ctrlBbtns.creativeId.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.creativeSize.header)" name='creative_size' value="{{camp.ctrlBbtns.creativeSize.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.viewability.header)" name='viewability' value="{{camp.ctrlBbtns.viewability.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.os.header)" name='OS' value="{{camp.ctrlBbtns.os.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.carrier.header)" name='carrier' value="{{camp.ctrlBbtns.carrier.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.networkSeller.header)" name='network(seller)' value="{{camp.ctrlBbtns.networkSeller.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.connectionType.header)" name='connection_type' value="{{camp.ctrlBbtns.connectionType.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.device.header)" name='device' value="{{camp.ctrlBbtns.device.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.extra.header)" name='extra' value="{{camp.ctrlBbtns.extra.btn}}" class="nav-btn">
      <input type="button" ng-click="camp.selectInfoBtn($event, camp.ctrlBbtns.publisher.header)" name='Publisher' value="{{camp.ctrlBbtns.publisher.btn}}" class="nav-btn">
    </div>
    <div class="pie-chart-container">
      <div class="header-pie-chart">
        <div class="pie-chart-header"><h4>{{camp.pieChartHeader}}</h4></div>
        <div class="target-cpa-container">
          <div class="input-target-cpa-text">target CPA</div>
          <input class="input-target-cpa" type="text" ng-blur="camp.targetCpaChange($event)" ng-model="camp.targetCpa" maxlength="5">
      </div>
      </div>
      <div class="pie-charts">
        <div class="chart-container" dx-pie-chart="camp.pieChartFirst"></div>
        <div class="chart-container" dx-pie-chart="camp.pieChartSecond"></div>
      </div>
      <div class="buckets">
        <div><h3 class="header-buckets">CPA buckets</h3></div>
        <div class="bucket-item">
          <div><span class="first">${{camp.backetsRanges.first.min}}-${{camp.backetsRanges.first.max}}</span></div>
          <div class="bucket-item-list"><div ng-repeat="item in camp.cpaArrayFirst">{{item}}</div></div>
        </div>
        <div class="bucket-item">
          <div><span class="second">${{camp.backetsRanges.second.min}}-${{camp.backetsRanges.second.max}}</span></div>
          <div class="bucket-item-list"><div ng-repeat="item in camp.cpaArraySecond">{{item}}</div></div>
        </div>
        <div class="bucket-item">
          <div><span class="third">${{camp.backetsRanges.third.min}}-${{camp.backetsRanges.third.max}}</span></div>
          <div class="bucket-item-list"><div ng-repeat="item in camp.cpaArrayThird">{{item}}</div></div>
        </div>
        <div class="bucket-item">
          <div><span class="fourth">${{camp.backetsRanges.fourth.min}}+</span></div>
          <div class="bucket-item-list"><div ng-repeat="item in camp.cpaArrayFourth">{{item}}</div></div>
        </div>
      </div>
    </div>
  </div>
</div>

